{% load static %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="{% static 'js/retrieve_location.js' %}"></script>

<a href="{% url 'index' %}">Back to HotZone Index Page</a>

<div>You are now adding a visited location record for {{case.patient.name}} (id:<span id="caseID">{{case.pk}}.</span>)</div><br>

<form id="addLocationForm" action="" method="post">
    <div><label for="dateFrom">Date from: </label><input type="date" id="dateFrom" name="dateFrom"></div>
    <div><label for="dateTo">Date to: </label><input type="date" id="dateTo" name="dateTo"></div><br>
    <label for="categoryRadio">Category:</label>
    <div id="categoryRadio">
        <input type="radio" id="category1" name="category" value="Residence"><label for="category1">Residence</label><br>
        <input type="radio" id="category2" name="category" value="Visit"><label for="category2">Visit</label><br>
        <input type="radio" id="category3" name="category" value="Workplace"><label for="category3">Workplace</label><br><br>
        <label for="q">Location (Click "Retrieve" after entering location)</label><br>
        <span><input type="text" id="location" name="q" placeholder="Enter location in here"></span>
        <span><input type="button" onclick="retrieve()" value="Retrieve"></span>
        <p id="retrieveStatus"></p>
    </div>
    <label for="locationRadio">Retrieved location result(s) (Select below)</label>
    <table id="locationTable" class="display" style="width: 100% ; height: 500px">
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>X-coordinateX</th>
                <th>Y-coordinate</th>
            </tr>
        </thead>
    </table>
    <span>
        <input id="confirmButton" type="button" value="Confirm" disabled=true>
    </span>
    <div id="confirmStatus"></div>

</form>

<!-- <button onclick="checkSelectedLocation()">check Selected Location</button>
<button onclick="simulatePOSTfrom()">simulate POST from</button>
<button onclick="generateJson()">generateJson</button> -->

<!--<h1>Location Record</h1>-->