{% load static %}
<!DOCTYPE html>
<html>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
  <head>
    <meta charset="utf-8">
    <title>Case Records</title>
  </head>
  <body>
    <h1>Case Records</h1>
    <a href="{% url 'index' %}">Back to HotZone Index Page</a>
    <p>Select a case to view location records and add visited locations.</p>
    {% if case_records %}
        <table style="width: 60%">
          <tr>
            <th> Patient </th>
            <th> Date of Confirmed </th>
            <th> Virus </th>
            <th> Local/Imported</th>
            <th> Action </th>
          </tr>
        {% for case in case_records %}
          <tr>
            <td>{{ case.patient }}</td>
            <td>{{ case.dateOfConfirm }}</td>
            <td>{{ case.virus }}</td>
            <td>{{ case.localOrImported }} </td>
            <td><a href="{% url 'viewLocationRecords' case.id %}"> View Location Records </a></td>
          </tr>
        {% endfor %}
        </table>
    {% else %}
        <p>No case records are available.</p>
    {% endif %}
  </body>
</html>