{% load static %}
<!DOCTYPE html>
<link href="{% static 'css/viewAllCases.css' %}" rel="stylesheet" type="text/css" />
<html>
  <head>
    <meta charset="utf-8">
    <title>Case Records</title>
  </head>
  <a href="{% url 'index' %}">Back to index Page</a>
  <body>
    {% if visits %}
    <table>
      <tr>
        <th> Location </th>
        <th> Address </th>
        <th> Date From </th>
        <th> Date to </th>
        <th> Category </th>
      </tr>
        {% for visit in visits %}
        <tr style="">
          <td> {{visit.location.name}} </td>
          <td> {{ visit.location.address }}</td>
          <td> {{ visit.dateFrom }}</td> 
          <td> {{ visit.dateTo }}</td>  
          <td> {{ visit.category }}</td>
        </tr>
        {% endfor %}
    <table>
    <h1>{{visit.caseRecord.id}}</h1>
    {% else %}
        <p>No case records are available.</p>
    {% endif %}
    <a href="/create_visitedlocation/{{visit.caseRecord.id}}"> Add Visit </a>
  </body>
</html>